
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<h3>ID: @ViewBag.Id</h3>
<h3>FirstName: @ViewBag.FirstName</h3>
<h3>LastName: @ViewBag.LastName</h3>
<h3>Age: @ViewBag.Age</h3>
<h3>Message: @ViewBag.Message</h3>


